/* NavigationItem.scss */

.navigation-item {
	@extend .text-body;
	text-transform: uppercase;
	color: $primary-light;

	&--active {
		color: $crimson;
		&:hover {
			&::after {
				width: 0px;
			}
		}
	}
}
