/* Header.jsx */

.header {
	display: flex;
	background-color: black;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	z-index: 10;
	transition: .8s ease;
	transform: translate3d(0, -100%, 0);
	&--active {
		transform: translate3d(0, 0, 0);
	}
}