/* NavBarItem.jsx */

.nav-bar-item {
	@extend .text-body;
	text-transform: uppercase;
	color: $primary-light;
	transition: .8s ease;
	&:hover:not(&--active) {
		letter-spacing: 2px;
	}
	&--active {
		color: $crimson;
		&:hover {
			&::after {
				width: 0px;
			}
		}
	}
	&--grey:not(&--active):not(:hover) {
		color: transparentize($primary-light, .8);
	}
}
