// colors
$beige: #FAF3DD;
$grey: #C8D3D5;
$pastel-blue: #A4B8C4;
$blue-grey: #6E8387;
$powder-blue: #B1DDF1;

// type

// containers
.container-blurb {

}

.container-paragraph {

}

.container-section {
}

.container-page {

}

// animations