/*
 * SCSS Pallete
 * Developed by Zach Mumbauer
 */

/* ==========================================================================
   Light and Elegant
   ========================================================================== */

/*
 * Dependencies
 * scrollout.js
 */

/* imports */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200|Prata&display=swap");

/* colors */
$beige: #faf3dd;
$grey: #c8d3d5;
$pastel-blue: #a4b8c4;
$blue-grey: #6e8387;
$powder-blue: #b1ddf1;

/* timing functions */
$ease-timing: cubic-bezier(0.8, 0, 0.2, 1);
$ease-timing-alt: cubic-bezier(0.5, 0, 0, 1);

/* type */
$ele-primary-font: "Prata", serif;
$ele-secondary-font: "Montserrat", sans-serif;

/* used for upto 2 lines of text */
.ele {
	&-title {
		font-size: 2em;
		font-family: $ele-primary-font;
		margin-bottom: 40px;
		transition: 0.8s $ease-timing;

		/* pushes subtitles after titles closer to the title for pairing */
		& + .ele-subtitle {
			margin-top: -40px;
		}

		&[data-scroll="in"] {
			opacity: 1;
			transform: translate3d(0, -50, 0);
		}

		&[data-scroll="out"] {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}
	}

	/* used for a small-cap title */
	&-subtitle {
		font-size: 1.5em;
		font-family: $ele-secondary-font;
		font-style: italic;
		font-variant: small-caps;
		text-transform: lowercase;
		font-weight: 200;
		margin-bottom: 40px;
		transition: 1.2s $ease-timing-alt;
		&[data-scroll="in"] {
			opacity: 1;
			transform: translate3d(0, -50, 0);
		}

		&[data-scroll="out"] {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}
	}

	/* used for paragraphs and general page text */
	&-body {
		font-size: 1.2em;
		font-family: $ele-secondary-font;
		margin-bottom: 20px;
		transition: 0.8s $ease-timing-alt;
		&[data-scroll="in"] {
			opacity: 1;
			transform: translate3d(0, -50, 0);
		}

		&[data-scroll="out"] {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		}
	}
}

/* containers */
.ele {
	/* highlighted block of text */
	&-blurb {
		position: relative;
		padding: 20px;
		text-align: center;
		background-color: $beige;
		font-size: 1.2em;
		font-family: $ele-primary-font;
		margin-bottom: 40px;
		border: 2px solid $blue-grey;
		transition: opacity 0.8s $ease-timing;

		/* top left */
		&:before {
			content: "";
			transition: 0.8s $ease-timing;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: $pastel-blue;
			z-index: -1;
		}

		/* bottom right */
		&:after {
			content: "";
			transition: 0.8s $ease-timing;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: $grey;
			z-index: -1;
		}

		/* animation in */
		&[data-scroll="in"] {
			opacity: 1;
			&:before {
				opacity: 1;
				top: -10px;
				left: -10px;
			}
			&:after {
				opacity: 1;
				top: 10px;
				left: 10px;
			}
		}

		/* animation out */
		&[data-scroll="out"] {
			&:before {
				opacity: 0;
				top: 0px;
				left: 0px;
			}
			&:after {
				opacity: 0;
				top: 0px;
				left: 0px;
			}
		}
	}

	/* sets padding between sections of the page */
	&-section {
		padding-bottom: 10vh;
	}

	/* sets padding and colors to the page content */
	&-page {
		color: $blue-grey;
	}
}

/* animations */
