/* QuoteSlider.jsx */

.quote-slider {
	background-color: $primary-light;
	padding: 20vh 10vw;
	box-sizing: border-box;
	&__quote-text {
		@extend .text-title;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
		text-align: center;
		&::after {
			content: '“';
			position: absolute;
			top: -.4em;
			color: $primary-dark;
			opacity: 20%;
			left: -.25em;
			font-size: 5em;
			z-index: 0;
		}
	}
	&__author {
		@extend .text-adorn;
		text-align: center;
	}
}