<head>
  <title>Zach Mumbauer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Generic -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shink-to-fit=no, maximum-scale=1.0, user-scalable=no"
/>
<meta name="HandheldFriendly" content="true" />

<meta name="description" content="The personal portfolio of Zach Mumbauer." />
<meta
  name="keywords"
  content="zach mumbauer, zach, mumbauer, conscientious business, computer science, ruby on rails, consultant, counseling, high performance"
/>
<meta name="author" content="Zach Mumbauer" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#603cba">
  <meta property="og:title" content="Zach Mumbauer | The Website" />
  <meta property="og:image" content="/imessage.png" />

</head>
