/**
 * Description: A collection of commonly used styles
 * Version: 1.0.0
 * Last update: 2020/08/21
 * Author: Zach Mumbauer
 */

.drop-shadow {
	box-shadow: 0px 0px 50px 0px #191919;
}

.small-caps {
	text-transform: lowercase;
	font-variant: small-caps;
}