/* Landing.jsx */

.landing {
	height: 100vh;
	width: 100vw;
	&__centered-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
		& > div:nth-child(1) {
			font-family: $font-alt;
			text-transform: uppercase;
			font-variant: small-caps;
			padding: 20px 40px;
			background-color: $white;
			color: $slate;
			font-size: 4em;
			text-align: center;
			box-shadow: 0px 0px 50px 0px black;
			margin-bottom: 20px;
		}
		& > div:nth-child(2) {
			padding: 10px 20px;
			color: $white;
			font-size: 2em;
			font-family: $font-main;
			text-transform: lowercase;
			font-style: italic;
			text-align: center;
			font-weight: 200;
		}
	}
}

@media only screen and (max-width: 800px) {
	.landing {
		&__centered-box {
			& > div:nth-child(1) {
				font-size: 1.8em;
			}
			& > div:nth-child(2) {
				font-size: 1.8em;
			}
		}
	}
}
