.contact-icon {
	height: 300px;
}
.code-box-wrapper {
	width: 100%;
	& > .code-box-container {
		display: block;
		margin: 0 auto;
		background-color: black;
		max-height: 338px;
		width: 100%;
		overflow: hidden;
		color: green;
		border: 1px solid white;
		box-sizing: border-box;
		padding: 20px;
		position: relative;
		& > .code-box {
			font-family: monospace;
			display: block;
			overflow: scroll;
			text-align: center;
			max-height: 100%;
			color: green;
			background-color: black;
			border: none;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
	}
}
