/* imports fonts from google fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200|Raleway:200&display=swap");

/* Import SCSS Partials */

@import "./variables";
@import "./typography";
@import "./animations";

/* Custom Mouse Cursor */
@import "../components/cursor/cursor";

/* Background */
@import "../components/background/background";

/* App Container */
@import "../components/app";

/* Header */
@import "../components/header/header";

/* Navigation Container */
@import "../components/header/navigation/navigation";

/* Navigation Toggle */
@import "../components/header/navigation_toggle/navigation_toggle";

/* Navigation Items */
@import "../components/header/navigation/navigation_item/navigation_item";

/* Grid */
@import "../components/grid/grid";
@import "../components/grid/grid_item/grid_item";


/* Landing Page */
@import "../components/pages/landing/landing";

/* About Page */
@import "../components/pages/about_page/about_page";

/* Column Cards */
@import '../components/card_row/card_row';
@import '../components/card_row/card/card';

/* Quote Slider */
@import '../components/quote_slider/quote_slider';

@import "./about";
@import "./contact";
@import "./scss_toolkit/scrollbar";
@import "./light_and_elegant/main";
@import "./dark_and_stormy/main";

/* Footer */
@import "../components/footer/footer";

/* Reset body */

body {
	margin: 0px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

/* Scrolling Container for momentum scrolling needs set height */
#scrollingContainer {
	height: 100%;
	width: 100%;
	overflow: auto;
}