/* imports fonts from google fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200|Raleway:200&display=swap");

/* Import SCSS Partials */

@import "./variables";
@import "./typography";
@import "./animations";

/* Custom Mouse Cursor */
@import "../components/cursor/cursor";

/* Background */
@import "../components/background/background";

/* App Container */
@import "../components/app";

/* Header */
@import "../components/header/header";

/* Navigation Container */
@import "../components/header/navigation/navigation";

/* NavMenu Toggle */
@import "../components/header/navigation/nav_menu_toggle/nav_menu_toggle";

/* NavBar */
@import "../components/header/navigation/nav_bar/nav_bar";

/* NavBar Items */
@import "../components/header/navigation/nav_bar/nav_bar_item/nav_bar_item";

/* Grid */
@import "../components/grid/grid";
@import "../components/grid/grid_item/grid_item";


/* Landing Page */
@import "../components/pages/landing_page/landing_page";

/* About Page */
@import "../components/pages/about_page/about_page";

/* About Page */
@import "../components/pages/contact_page/contact_page";

/* Column Cards */
@import '../components/card_row/card_row';
@import '../components/card_row/card/card';

/* Quote Slider */
@import '../components/quote_slider/quote_slider';

@import "./about";
@import "./contact";
@import "./scss_toolkit/scrollbar";
@import "./light_and_elegant/main";
@import "./dark_and_stormy/main";

/* Footer */
@import "../components/footer/footer";

/* Reset body */

body {
	margin: 0px;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

/* Scrolling Container for momentum scrolling needs set height */
#scrollingContainer {
	height: 100%;
	width: 100%;
	overflow: auto;
}

/* Handles 404 component */
.not-found {
	@extend .text-title;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	color: $primary-light;
	text-align: center;
	& > img {
		max-width: 100%;
		margin-bottom: 40px;
	}
}