/* Colors */

$white: #ffffff;
$grey: #7f7f7f;
$grey-dark: #222222;
$slate: #191919;
$crimson: #ba2525;
$transparent: rgba(0, 0, 0, 0);
$gradient-purple: linear-gradient(
	280deg,
	#8e2de2,
	#191919,
	#6000ff,
	#191919,
	#6441a5,
	#191919,
	#2a0845,
	#191919,
	#4a00e0
	);
$gradient-slate: linear-gradient(
	280deg,
	#191919,
	#3d3d3d,
	#000000,
	#3d3d3d,
	#191919
	);


/* Typography */

$font-main: "Raleway", sans-serif;
$font-alt: "Montserrat", sans-serif;

/* Animations */

$ease-timing: cubic-bezier(0.8, 0, 0.2, 1);
$ease-timing-alt: cubic-bezier(0.5, 0, 0, 1);

@mixin purple-gradient-background {
	background: $gradient-purple;
	background-size: 4000% 4000%;
	animation: gradientAnimation 50s ease infinite;
}
@mixin slate-gradient-background {
	background: $gradient-slate;
	background-size: 4000% 4000%;
	animation: gradientAnimation 50s ease infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 51%;
	}
	100% {
		background-position: 0% 50%;
	}
}
