/* Colors */
/*
 * Primary, Acce
 */
$primary-dark: #121212;
$primary-light: #EDFDF6;
$crimson: #8F0000;

/* Typography */

$font-main: "Montserrat", sans-serif;
$font-alt: "Raleway", sans-serif;

/* Animations */

$ease-timing: cubic-bezier(0.8, 0, 0.2, 1);
$ease-timing-alt: cubic-bezier(0.5, 0, 0, 1);

@mixin purple-gradient-background {
	background: $gradient-purple;
	background-size: 4000% 4000%;
	animation: gradientAnimation 50s ease infinite;
}
@mixin slate-gradient-background {
	background: $gradient-slate;
	background-size: 4000% 4000%;
	animation: gradientAnimation 50s infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
