/*
 * SCSS TOOLKIT
 * Developed by Zach Mumbauer
 */

/* ==========================================================================
   The Flexbox
   ========================================================================== */

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-evenly;
	& > * {
		display: flex;
		flex-direction: column;
		order: 0;
		box-sizing: border-box;
		padding-right: 1%;
		padding-left: 1%;
		margin-bottom: 10vh;
		transition-delay: .5s;
		& > * {
			transition-delay: .8s;
		}
	}
	@for $i from 1 through 24 {
		&-#{$i} {
			& > * {
				flex-basis: (100% /#{$i});
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.flex {
		& > * {
			flex-basis: 100%;
		}
	}
}
