/*
 * SCSS TOOLKIT
 * Developed by Zach Mumbauer
 */

/* ==========================================================================
   Alignment and Spacing Tools
   ========================================================================== */

.center {
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	vertical-align: center;
}

.left {
	text-align: left;
	justify-content: left;
	align-items: left;
	align-content: left;
	float: left;
}

.right {
	text-align: right;
	justify-content: right;
	align-items: right;
	align-content: right;
	float: right;
}

/* ==========================================================================
   Spacing
   ========================================================================== */

.spacer {
	width: 100%;
	height: 5vw;
}
.page-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 4vh 5vw;
}
