/* Grid.jsx */

.grid {
	display: grid;
	justify-content: space-evenly;
	place-items: center;
	padding: 20vh 2vw;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	gap: 5rem;
	grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}