/* Grid.jsx */

.grid {
	display: grid;
	justify-content: space-evenly;
	place-items: center;
	padding: 20vh 2vw;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

@media screen and (max-width: 760px) {
	.grid {
		grid-template-columns: auto;		
	}
}