/* NavMenuToggle.jsx */

.navigation-toggle {
	width: 60px;
	height: 20px;
	z-index: 10;
	position: fixed;
	top: 40px;
	right: 40px;
	box-sizing: border-box;
	transition: 0.8s;
	& > span {
		display: block;
		transition: 1.5s;
		background-color: blue;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			border-radius: 20px;
			height: 2px;
			background-color: $primary-light;
			transform: rotate(0deg);
			position: absolute;
			right: 0px;
		}
		&:nth-child(1) {
			width: 100%;
			top: 0%;
		}
		&:nth-child(2) {
			width: 80%;
			top: 50%;
		}
		&:nth-child(3) {
			width: 60%;
			top: 100%;
		}
	}
	&--active {
		width: 35px;
		height: 35px;
		& > span {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				background-color: $crimson;
				right: 0%;
			}
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 50%;
			}
			&:nth-child(2) {
				width: 0%;
				transition: 0.5s;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 50%;
				width: 100%;
				// transform: rotate(-45deg);
			}
		}
	}
}