/* Cursor.jsx */

/* Remove Default Cursor */
body {
	cursor: none;
}
a:hover {
	cursor: none;
}

.cursor {
	pointer-events: none;
	z-index: 11;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid $primary-light;
	transition: transform 1s;
	&__dot {
		width: 20%;
		height: 20%;
		background-color: $primary-light;
		border-radius: 50%;
		position: relative;
		top: 40%;
		left: 40%;
		transition: 0s;
	}

	&--hover {
		background-color: $primary-light;
		border-color: $primary-dark;
		transform: scale(1.5);
	}

	&--click {
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			left: 0px;
			animation: cursorHoverAnimation 0.8s 1 forwards ease;
			z-index: 11;
		}
	}
}

@keyframes cursorHoverAnimation {
	from {
		box-shadow: 0 0 0 0 $crimson;
	}
	to {
		box-shadow: 0 0 0 20px $crimson;
		opacity: 0;
	}
}

@media screen and (max-width: 800px) {
	body {
		cursor: default;
	}
	a:hover {
		cursor: default;
	}
	.cursor {
		display: none;
	}
}
