/* Footer.jsx */

.footer {
	background-color: $primary-dark;
	color: $primary-light;
	text-align: center;
	padding: 20vh 5vw;
	&__copyright {
		@extend .text-adorn;
		font-family: $font-main;
		margin-bottom: 40px;
	} &__contact-title {
		@extend .text-title;
	}
	&__email {
		@extend .text-body;
	}
}