@import './variables';

.site-background-container {
	@include purple-gradient-background;
	transition: 1s;
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	&.purple-gradient {
		@include purple-gradient-background;
	} &.slate-gradient {
		@include slate-gradient-background;
	} &.ele-gradient {
		background: $beige;
	}
}

@media only screen and (max-width: 500px) {
	.site-background-container {
		border: none;
	}
}