@import './variables';

.site-background-container {
	@include rich-purple-gradient-background;
	z-index: -10;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 20px solid $white;
	box-sizing: border-box;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -11;
		transition: opacity 1s ease;
		background: white;
		border: $slate;
	}
	&.active::before {
		opacity: 1;
	}
}

@media only screen and (max-width: 500px) {
	.site-background-container {
		border: none;
	}
}