.contact-icon {
	height: 300px;
} .code-box-container {
	display: block;
	margin: 0 auto;
	background-color: black;
	height: 338px;
	width: 600px;
	overflow: hidden;
	color: green;
	border: 1px solid white;
	padding: 20px;
	position: relative;
	& > .code-box {
		display: block;
		overflow: auto;
		text-align: center;
		max-height: 100%
	}
}