@import 'variables';

body {
	cursor: none;
}

#cursor {
	pointer-events: none;
	z-index: 11;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid $grey;
	& > #inner-cursor {
		width: 20%;
		height: 20%;
		background-color: $white;
		border-radius: 50%;
		position: relative;
		top: 40%;
		left: 40%;
	}
	&.cursor-hover {
		transition: transform 1s;
		background-color: $slate;
		border-color: $white;
		transform: scale(1.5);
	}
	&.cursor-click {
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			left: 0px;
			animation: cursorHoverAnimation 1s 1 forwards ease;
			z-index: 11;
		}
	}
}

@keyframes cursorHoverAnimation {
	from {
		box-shadow: 0 0 0 0 $crimson;
	} to {
		box-shadow: 0 0 0 20px $crimson;
		opacity: 0;
	}
}