/* Styles regarding the header component */
@import "./variables";

.header-container {
	display: flex;
	height: $header-height;
	background-color: $header-background;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	color: $white;
}

/* Navigation Toggle Button */
.navigation-toggle {
	width: 60px;
	height: 20px;
	z-index: 10;
	position: fixed;
	top: 40px;
	right: 40px;
	box-sizing: border-box;
	transition: .8s;
	& > span {
		display: block;
		transition: 1.5s;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			border-radius: 20px;
			height: 2px;
			background-color: $white;
			transform: rotate(0deg);
			position: absolute;
			right: 0px;
		}
		&:nth-child(1) {
			width: 100%;
			top: 0%;
		}
		&:nth-child(2) {
			width: 80%;
			top: 50%;
		}
		&:nth-child(3) {
			width: 60%;
			top: 100%;
		}
	}
	&.active {
		width: 35px;
		height: 35px;
		& > span {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				background-color: $crimson;
				right: 0%;
			}
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 50%;
			}
			&:nth-child(2) {
				width: 0%;
				transition: 0.5s;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 50%;
				width: 100%;
				// transform: rotate(-45deg);
			}
		}
	}
}

/* Navigation Menu */
.navigation-menu-container {
	display: flex;
	font-family: $font-primary;
	padding: 20px;
	height: 100vh;
	width: 100vw;
	z-index: 8;
	color: $slate;
	font-size: 2em;
	box-sizing: border-box;
	& > .navigation-menu-left,
	& > .navigation-menu-right {
		display: inline-block;
		width: 50%;
		height: 100%;
	}
	& > .navigation-menu-left {
		transition: 0.8s $ease-timing;
		clip-path: polygon(
			0 0,
			0% 0,
			-25% 25%,
			-50% 50%,
			-75% 75%,
			-100% 100%,
			0 100%,
			0 75%,
			0 50%,
			0 25%
			);
		&.active {
			clip-path: polygon(
				0 0,
				100% 0,
				100% 25%,
				100% 50%,
				100% 75%,
				100% 100%,
				0 100%,
				0 75%,
				0 50%,
				0 25%
				);
		}
		& > .navigation-menu-background-overlay {
			background-image: image-url("zm_tile.svg");
			background-repeat: repeat;
			transition: 0s;
			transition-timing-function: ease;
			z-index: 9;
			width: 100%;
			height: 100%;
		}
	}
	& > .navigation-menu-right {
		display: flex;
		align-items: center;
		justify-content: center;
		/* Navigation Menu Items Container */
		& > .navigation-items-container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 100%;
			height: 100%;
			z-index: 10;
			max-height: 75vh;
			visibility: hidden;
			& * > span {
					opacity: 0;
				}
			&.active {
				visibility: visible;
				& * > span {
					opacity: 1;
				}
			}
			/* Navigation Menu Items */
			& > .navigation-menu-item {
				font-size: 3em;
				text-transform: lowercase;
				text-align: center;
				& > span {
					transition: 0.8s;
					animation-timing-function: $ease-timing;
				}
				@for $i from 1 to 10 {
					&:nth-child(#{$i}) {
						animation-delay: #{0.1 + ($i * 0.4)}s;
					}
				}
				& > span.nav-item-active {
					color: $grey;
					letter-spacing: 2px;
				}
				& > span.nav-item-inactive {
					color: $white;
				}
			}
		}
	}
}
.navigation-background-container {
	width: 100vw;
	position: absolute;
	right: -50%;
	top: 0;
}
.navigation-background-section {
	width: 50vw;
	z-index: -1;
	background-color: $white;
	transition: .8s;
	transition-timing-function: $ease-timing-alt;
	&:nth-child(1) {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: .8s;
	}
	&:nth-child(2) {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 1.2s;
	}
	&:nth-child(3) {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 1.4s;
	}
	&:nth-child(4) {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 1.6s;
	}
	&:nth-child(5) {
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		transition: 1.8s;
		position: absolute;
		top: 0;
	}
	&.active {
		&:nth-child(1) {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		&:nth-child(2) {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		&:nth-child(3) {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		&:nth-child(4) {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		&:nth-child(5) {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}
}
@media only screen and (max-width: 800px) {
	.navigation-menu-container {
		& > .navigation-menu-left {
			width: 0%;
		}
		& > .navigation-menu-right {
			width: 100%;
			& > .navigation-background-container {
			}
			& > .navigation-items-container {
				/* Navigation Menu Items */
				& > .navigation-menu-item {
					font-size: 2em;
				}
			}
		}
	}
	.navigation-background-container {
		right: 0;
	}
	.navigation-background-section {
		width: 100vw;
	}
}
