// Styles regarding the header component
@import './variables';

.header-container {
	display: flex;
	height: $header-height;
	background-color: $header-background;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	color: $white;
}

// Navigation Toggle Button
.navigation-toggle {
	width: 80px;
	height: 40px;
	z-index: 10;
	position: fixed;
	top: 60px;
	right: 60px;
	box-sizing: border-box;
	transition: 1.5s;
	& > span {
		display: block;
		transition: 1.5s;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			border-radius: 20px;
			height: 2px;
			background-color: $white;
			transform: rotate(0deg);
			position: absolute;
			right: 0px;
		}
		&:nth-child(1) {
			width: 100%;
			top: 0%;
		}
		&:nth-child(2) {
			width: 80%;
			top: 50%;
		}
		&:nth-child(3) {
			width: 60%;
			top: 100%;
		}
	}
	&.active {
		width: 48px;
		height: 48px;
		& > span {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				background-color: $crimson;
				right: 0%;
			}
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 50%;
			}
			&:nth-child(2) {
				width: 0%;
				transition: .5s;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 50%;
				width: 100%;
				// transform: rotate(-45deg);
			}
		}
	}
}

// Navigation Menu
.navigation-menu-container {
	display: flex;
	font-family: $font-primary;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	z-index: 8;
	transition: .8s $ease-timing;
	background-color: $slate;
	color: $white;
	font-size: 2em;
	clip-path: polygon(0 0, 0% 0, -25% 25%, -50% 50%, -75% 75%, -100% 100%, 0 100%, 0 75%, 0 50%, 0 25%);
	&.active {
		clip-path: polygon(0 0, 100% 0, 100% 25%, 100% 50%, 100% 75%, 100% 100%, 0 100%, 0 75%, 0 50%, 0 25%);
	}
	& > .navigation-menu-background-overlay {
		background-image: image-url('zm_tile.svg');
		background-repeat: repeat;
		transition: 0s;
		transition-timing-function: ease;
		z-index: 9;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	// Navigation Menu Items Container
	& > .navigation-items-container {
		padding: 40px;
		z-index: 10;
		@include rich-purple-gradient-background();

		// Navigation Menu Items
		& > .navigation-menu-item {
			font-size: 3em;
			text-transform: lowercase;
			margin-bottom: 20px;
			padding: 10px 50px;
			transition: 1.5s;
			text-align: center;
			animation-timing-function: $ease-timing-alt;
			@for $i from 1 to 10 {
				&:nth-child(#{$i}) {
					animation-delay: #{.3 + ($i * .5)}s;
				}
			}
			& > span {
				&:hover {
					color: $grey;
					cursor: crosshair;
				}
			}
			
		}
	}
}
