// Body Reset
@import './variables';

body {
	margin: 0px;
	padding-top: $header-height;
	padding-left: 2vw;
	padding-right: 2vw;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

// Links
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: inherit;
	}
}
