@import 'variables';

h1 {
	font-size: 5em;
	font-family: $font-primary;
	font-variant: small-caps;
	text-transform: lowercase;
	color: white;
	margin-bottom: 20px;
} h2 {

} p {
	font-family: $font-secondary;
	font-size: 2em;
	color: white;
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 1.6em;
	}
}