@import 'variables';

h1 {
	font-size: 5em;
	font-family: $font-primary;
	font-variant: small-caps;
	text-transform: lowercase;
	color: white;
	margin-bottom: 20px;
} h2 {

} p {
	font-family: $font-secondary;
	font-size: 2em;
	color: white;
}