// Colors
$white: #ffffff;
$grey: #7f7f7f;
$slate: #191919;
$crimson: #ba2525;
$transparent: rgba(0, 0, 0, 0);
$gradient-purple: linear-gradient(
		292deg,
		#8e2de2,
		#191919,
		#6000ff,
		#191919,
		#6441a5,
		#191919,
		#2a0845,
		#191919,
		#4a00e0
	);

// Typefaces
$font-primary: "Raleway", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Header Settings
$header-height: 100px;
$header-background: $transparent;

// Animation
$ease-timing: cubic-bezier(0.8, 0, 0.2, 1);
$ease-timing-alt: cubic-bezier(0.5, 0, 0, 1);

@mixin rich-purple-gradient-background {
	background: $gradient-purple;
	background-size: 4000% 4000%;
	animation: richPurpleGradient 50s ease infinite;

	@keyframes richPurpleGradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}