// Styles regarding the header component

.header-container {
	display: flex;
	height: $header-height;
	background-color: $header-background;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	color: $white;
}

// Navigation Toggle Button
.navigation-toggle {
	padding: 20px;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	box-sizing: border-box;
	& > span {
		color: white;
		display: block;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			height: 1px;
			background-color: white;
			margin-bottom: 20px;
			text-align: right;
		}
		&:nth-child(1) {
			width: 100px;
		}
		&:nth-child(2) {
			width: 80px;
		}
		&:nth-child(3) {
			width: 60px;
		}
	}
}

// Navigation Menu
.navigation-menu-container {
	height: 100vh;
	width: 100vw;
	z-index: 9;
	transition: 1s;
	transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
	background-color: $slate;
	color: $white;
	font-size: 2em;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	&.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}